<div class="aboutus2">
<br>
<div class="aboutus2title">
About Us
</div>
<br>
<br>
私たちはこれからの未来を<br>
担う世代だから<br>
As the genrationwho creats<br>
the future<br>
</div>

<div class="discription">
使い捨てシステムを、自ら敢えて拒否するという選択<br>
環境問題解決のため、急務とされているごみ削減<br>
小学校からそんな話をたくさん聞いてきたのに、<br>
なぜか身の回りにはたくさんの「使い捨て」の場面が...<br>
</div>






<%= link_to 'Top Pge', suzus_top_path %>