<div class="intoro">
            <h5>診断結果</h5>
            <p>あなたは…</p>
        </div>
        <div class="tweet-container">
            <div class="tweet">
                <% if @perfume.question == "1111" %>
                <h6>知識も意識も十分！未来の地球を守るヒーロー</h6>

                <% elsif @perfume.question == "1112" %>
                <h6>もったいないという気持ちを胸に行動してみよう！</h6>
                <p>使い捨て品を使わない、再利用をするというようにやれることをやってみよう！</p>
                
                <% elsif @perfume.question == "1121" %>
                <h6>身の回りの使い捨て品を探してみよう！</h6>
                <p>結構たくさんあるんだよ！ごみ問題について考えてみると見方も変わるかも</p>

                <% elsif @perfume.question == "1122" %>
                <h6>知識は十分！</h6>
                <p>身の回りの使い捨て品を探してみよう！まだ使えそうなものが捨てられたりはしてないかな？</p>

                <% elsif @perfume.question == "1211" %>
                <h6>温室効果ガス</h6>

                <% elsif @perfume.question == "1212" %>
                <h6></h6>

                <% elsif @perfume.question == "1221" %>
                <h6></h6>
               
                <% elsif @perfume.question == "1222" %>
                <h6></h6>
                
                <% elsif @perfume.question == "2111" %>
                <h6></h6>
              
                <% elsif @perfume.question == "2112" %>
                <h6></h6>
               
                <% elsif @perfume.question == "2121" %>
                <h6></h6>
              
                <% elsif @perfume.question == "2122" %>
                <h6></h6>
               
                <% elsif @perfume.question == "2211" %>
                <h6></h6>
               
                <% elsif @perfume.question == "2212" %>
                <h6></h6>
              
                <% elsif @perfume.question == "2221" %>
                <h6></h6>
               
                <% elsif @perfume.question == "2222" %>
                <h6>もしかして地球デストロイヤーですか…？</h6>
              
                <% end %>

        </div>